* {
  box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
}

body {
  margin: 0;
  padding: 0;
}

.header-nav__items {
  display: flex;
  list-style: none;
}

.header-nav__item {
}

.header-nav__link {
  text-decoration: none;
}

.page {
  border: 3px solid skyblue;
  padding: 1rem;
  margin: 1rem;
}

.item {
  border: 3px solid salmon;
  padding: 1rem;
  margin: 1rem;
}

.item--bg-image {
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
